﻿body{
	background-image: url(bk.png) ;
	background-size: cover;
}
#field{
	left: 30%;
	width:40%;
	height: 100%;
	border: 3px groove black;
	background-image: url(pole.png) ;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background-size: cover;
	}
	#ball{
	position: absolute;
	left:0;
	top: 0;
	width:6%;
	height: 6%;
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
	-ms-transition: all 0s;
	transition: all 1s;
}
