body{
	background-image:url(fon.png);
}

input[type="range"] {
	width: 50%;
	height: 20%;
	cursor: pointer;
	margin-top:3%;	
	box-shadow: 3px 3px 3px #000000, 0px 0px 1px #0d0d0d;
	background: #CAE1FF;
	border-radius: 15.3px;
	border: 0.2px solid #010101;
	margin-left: 20%;
}

input[type="text"] {
	margin-left: 2%;
	text-align: center;
	width: 19%;
	box-shadow: 3px 3px 3px #000000, 0px 0px 1px #0d0d0d;
	background: #BCD2EE;
	border-radius: 15.3px;
	border: 0.2px solid #010101;
	font-size: 22px;
}

div {
	width: 50%;
	box-shadow: 3px 3px 3px #000000, 0px 0px 1px #0d0d0d;
	border-radius: 15.3px;
	border: 0.2px solid #010101;
	font-weight:bold;
	color: #BCD2EE;
	background: black;

	
}

img[src="clock.gif"]{
        width: 100px;
        height: 100px;
		float:center;
}

.pLastTime {
	color: white ;
}

.button{
	font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 100%;
	text-decoration:none; 	
	padding: 5px 15px ; 
	color: #191970;
	background:#BCD2EE; 
	border: 5px solid #BBFFFF;	
    position: absolute; 
    margin-top: 10%; 
    margin-left: -55%;
}

.mainBlock{
	width: 100%;
}

.selectDate {
	float:left;
	position:absolute; 	
	margin-top: 3%;
	border:1px solid red;
	background:url(2.png);
	word-wrap: break-word; 
	clear: both;
}

.selectDate p{
	margin-top:2%;
	margin-left:2%;
	font-size: 130%;
	color: white /*#BCD2EE*/ ;
	position: absolute; 
}

.blockTimer{
	width: 30%;
	position:absolute; 
	margin-top: 3%;
	border:1px solid red;
	background:url(2.png);
	word-wrap: break-word; 
	margin-left:60%;
	float:right;
}

.blockTimer p{
	font-size:120%;
	margin-left: 20%;	
}

.blockTimer span{
	float: right;
	font-size:130%;
	margin-top: 0%;
	margin-right: 40%;
	border-radius: 15.3px;
	background-color:black;
	color:white;
}

.EventTimerGo{
	color: white;
	font-size: 22px;
}