body{
	background-image:url(bg.png);
	background-size: cover;
}

div h2{ 
	height: 6%;
	text-align: center;	
	font-size: 30px;
	color: #BCD2EE ;		
	position: fixed;
	background-color: #1C1C1C; 
	box-shadow: 3px 3px 3px #000000, 0px 0px 1px #0d0d0d;
	border-radius: 8px;
}

div input{ 
	height: 5%;
	text-align: center;
	font-size: 25px;
	color: #BCD2EE ;		
	position: absolute;
	background-color: black;
	box-shadow: 5px 5px 5px #000000, 0px 0px 5px #0d0d0d;
	border-radius: 100px;
	outline: none;
}

div p{
	height: 5%;
	width: 2.5%;
	position: absolute;
} 

.h_2 h2{
	
	width: 70%;
	top: -3%; 
    left: 12%;
	font-size: 30px;
	color: #7AC5CD ;

}

/*    */
.div_name h2{ 
	width: 8%;
	top: 7%; 
    left: 2%;
}

.div_name input{ 
	width: 15%;
	top: 10.7%; 
    left: 13%;
}

.div_name p{ 
	height: 5%;
	width: 2.5%;	
	top: 9.4%; 
    left: 28.5%;
	position: absolute;
}
/*    */
.div_famile h2{
	height: 6%;
	width: 10%;	
	top: 17%; 
    left: 1%;
}

.div_famile input{
	width: 15%;	
	top: 20.5%; 
    left: 13%;
}

.div_famile p{ 		
	top: 19.4%; 
    left: 28.5%;	
}
/*    */
.div_nickname h2{	
	width: 10%;	
	top: 27%; 
    left: 1%;
}

.div_nickname input{
	width: 15%;	
	top: 31%; 
    left: 13%;
}

.div_nickname p{ 		
	top: 29.4%; 
    left: 28.5%;	
}
/*    */
.div_date h2{	
	width: 10%;	
	height: 11%;
	top: 37%; 
    left: 10%;
}

.day{
	height:7%;
	width: 5%;	
	top: 57%; 
    left: 2%;
	font-size: 30px;
}

.month {
	height:7%;
	width: 5%;	
	top: 57%; 
    left: 12%;
	font-size: 30px;
}

.year{
	height:7%;
	width: 7%;	
	top: 57%; 
    left: 22%;
	font-size: 30px;
}

.day_p{
	width: 3%;	
	top: 57%; 
    left: 8%;
}

.month_p{
	width: 3%;	
	top: 57%; 
    left: 18%;
}

.year_p{
	width: 3%;	
	top: 57%; 
    left: 30%;
}
/*   */

.div_email h2{	
	width: 10%;	
	top: 67%; 
    left: 1%;
}

.div_email input{
	width: 20%;	
	top: 71%; 
    left: 13%;
	font-size:20px;
}

.div_email p{ 		
	top: 70%; 
    left: 34%;
}

/*     */
.div_phone h2{	
	width: 10%;	
	top: 79%; 
    left: 1%;
}

.div_phone input{
	width: 20%;	
	top: 83%; 
    left: 13%;
	font-size:20px;
}

.div_phone p{ 		
	top: 82%; 
    left: 34%;
}

/*   */
.div_bank h2{	
	height: 11%;
	width: 15%;	
	top: 6%; 
    left: 35%;
}

.div_bank input{
	width: 20%;	
	top: 12%; 
    left: 53%;
	font-size:20px;
}

.div_bank p{ 		
	top: 10%; 
    left: 74%;
}
/*    */
.div_pasport h2{	
	height: 16%;
	width: 15%;	
	top: 22%; 
    left: 35%;
}

.div_pasport input{
	width: 20%;	
	top: 28%; 
    left: 53%;
	font-size:20px;
}

.div_pasport p{ 		
	top: 26%; 
    left: 74%;
}
/*      */
.div_button input{
	font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 20px;
	text-decoration:none; 	
	padding: 65px 12px ; 
	color: #191970;
	background:#BCD2EE; 	
    position: absolute; 
    top: 75%; 
    left: 85%;
	border-radius: 85px;
	box-shadow: 10px 10px 10px #000000, 0px 0px 80px #0d0d0d;
	outline: none;
}