﻿body{
	background-image: url(bk.png) ;
	background-size: cover;
}
#field{
	left: 10%;
	width:40%;
	height: 110%;
	background-image: url(pole.png) ;
	position: absolute;
	cursor: pointer;
	background-size: cover;
	
	}
	#ball{
	position: absolute;
	left:0;
	top: 0;
	width:6%;
	height: 6%;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	-ms-transition: all 0.7s;
	transition: all 0.7s;
}
#up{
	text-align: center;
	left:60%;
	width:10%;
	height: 15%;
	background-color: #B22222;
	top: 15%;
	position: absolute;
	color: white;
	font-size: 70pt;
	overflow: hidden;
	
	
}

#down{
	text-align: center;
	left:80%;
	width:10%;
	height: 15%;
	background-color: #0000CD;
	top: 15%;
	position: absolute;
	color: white;
	font-size: 70pt;
	overflow: hidden;
}

#red{
	left:5%;
	width:5%;
	height: 5%;
	background-color: #B22222;
	top: 1.2%;
	position: absolute;
}


#blue{
	left:5%;
	width:5%;
	height: 5%;
	background-color: #0000CD;
	top: 106%;
	position: absolute;
}

h1{
left:72%;
top: 2%;
position: absolute;
color: white;

}